<footer>
    <small>render time (so far): {{ request.request_time() * 1000 }} (ms)<br>
       --- the information below is only useful for devs, please ignore it ---<br><br>

           truth version {{ starlight.data.version }},
           opened at {{ starlight.data.load_date }},
           app version {{ starlight.display_app_ver() }}<br>
           did this page trigger a versioncheck? {{ "yes" if starlight.data.vc_this else "no" }}<br>
           did this page generate primes? {{ starlight.data.primed_this }}<br>
           {% if starlight.is_updating_to_new_truth %}
           <br>checking for truth updates... performance may be degraded for a few seconds.
           {% end %}
    </small><br>
    <small>Report bugs/suggest features on <a href="https://github.com/summertriangle-dev/sparklebox">GitHub</a></small><br>
    <small>中文翻译分支维护：<a href="https://github.com/CaiMiao/sparklebox-schinese">GitHub</a></small>
    <small>该站的所有者并未声明拥有该页面下任何内容的所有权。</small>
</footer>
