<!-- <p>Welcome to the Starlight Database. You can change this text by editing webui/partials/frontpage_text.html.</p> -->
<ul>
  <li><a href="/skill_table">按特技检索</a></li>
  <li><a href="/lead_skill_table">按领队技能检索</a></li>
  <br>
  <li><a href="/static/notice.html">游戏内公告</a></li>
  <li><a href="/static/api.html">开发者限定：JSON API文档</a></li>
</ul>
<p>友链及常用工具：</p>
<ul>
  <li><a href="http://imascg-slstage-wiki.gamerch.com/">CGSS日文综合Wiki</a></li>
  <li><a href="https://cgsshelper.tk/">CGSS助手</a><small>（活动体力精算+排名图表）</small></li>
  <li><a href="http://tools.lduxx.com/">Chieri的CGSS工具箱</a><small>（PC用，需Java）</small></li>
  <li><a href="https://deresute.info/">在线谱面查询</a> / <a href="http://yykn.jp/ss/">队伍表现计算</a> / <a href="http://yykn.jp/ss/prp/">PRP排名</a></li>
  <br>
  <li><a href="http://tieba.baidu.com/f?ie=utf-8&kw=偶像大师灰姑娘女孩星光舞台">百度CGSS贴吧</a></li>
  <li><a href="https://twitter.com/n_triangle_dev">原作者推特：@n_triangle_dev</a> / <a href="https://starlight.kirara.ca/">starlight.kirara.ca</a><small>（英文版数据库）</small></li>
</ul>
