<div class="box history_ev he_event {{ enums.he_event_class(history_entry.event_type()) }}">
  <div class="header">
    <span class="item left">活动：<strong>{% raw tlable(history_entry.event_name) %}</strong></span>
    <span class="item ext"></span>
  </div>
  <div class="contents" style="">
    <div class="iconex_row">
    {% for card in history_entry.category_card_list("event") %}
      {% raw webutil.icon_ex(card, request.is_low_bandwidth) %}
    {% end %}
    </div>

    <small>
      <a href="/card/{{ history_entry.card_urlspec() }}">批量打开</a> / 
      <a href="/table/CASDE/{{ history_entry.card_urlspec() }}">列表</a>
      -
      活动开展时间：
      <span class="time_localize" data-ts="{{ history_entry.start_time }}" data-fmt="date">{{ history_entry.start_dt_string() }}</span>
      ~
      <span class="time_localize" data-ts="{{ history_entry.end_time }}" data-fmt="date">{{ history_entry.end_dt_string() }}</span>
      (共 {{ "{:.1f}".format(history_entry.length_in_days()) }} 天)
    </small>
  </div>
</div>