{% set _a = availability.get(card.id, []) %}
{% if _a %}
<div class="gacha_availability box {{ enums.attribute(card.attribute) }}">
  <div class="header">
    <span class="item left">{{ _("卡池详情") }}</span>
    <span class="item ext"></span>
  </div>
  <div class="content">
    <ul>
    {% for presence in _a %}
    {# FIXME the logic gets a bit complex here; consider moving it into its own partial? #}

    {% if presence.type == presence._TYPE_EVENT %}

    <li class="avlistentry_event  {{ "ga_available" if presence.start <= now < presence.end else "ga_unavailable" }}">
      <strong class="{{ "ga_available" if presence.start <= now < presence.end else "ga_unavailable" }}">活动</strong>: {% raw tlable(presence.name) %}
      <small>({{ starlight.en.availability_date_range(presence, now) }})</small>
    </li>

    {% elif presence.type == presence._TYPE_GACHA %}

    {% if presence.name %}
    <li class="avlistentry_limited">
      <strong class="{{ "ga_available" if presence.start <= now < presence.end else "ga_unavailable" }}">限定</strong>: {% raw tlable(presence.name) %}
      <small>({{ starlight.en.availability_date_range(presence, now) }})</small>
    </li>

    {% else %}
    <li class="avlistentry_regular {{ "ga_available" if presence.start <= now < presence.end else "ga_unavailable" }}">
      <strong class="{{ "ga_available" if presence.start <= now < presence.end else "ga_unavailable" }}">扭蛋</strong>
      <small>({{ starlight.en.availability_date_range(presence, now) }})</small>
      {% if presence.gaps %}
      <ul class="avlistentry_regular_melded">
        {% for gap in presence.gaps %}
        <li>此段时间不可用：{{ starlight.en.gap_date_range(gap) }}</li>
        {% end %}
        <li title="可能是由于此段时间推出了单属性限定扭蛋。"><span class="help">(为什么?)</span></li>
      </ul>
      {% end %}
    </li>
    {% end %}

    {% end %}

    {% end %}
    </ul>
  </div>
</div>
{% end %}